# The maximum allowed client connections.
maxClientCnxns=50
# The number of milliseconds of each tick.
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take.
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement.
syncLimit=5
# The directory where the snapshot is stored.
dataDir=/var/lib/zookeeper
# The port at which the clients will connect.
clientPort=2181
# Whitelisted 4-letter commands.
4lw.commands.whitelist=ruok,srvr,conf,stat,mntr
